mastodon-post {
  width: 100%;

  .mastodon-post-wrapper {
    & dl,
    & dt {
      display: flex;
    }

    & dl {
      align-items: center;

      & dd {
        margin-left: var(--spacing-xs);

        &:not(:last-child) {
          margin-right: var(--spacing-lg);
        }
      }
    }
  }
}
