---
import Menu from '@components/nav/Menu.astro';
import { fetchGlobalData } from '@utils/data/global/index.js';

const { siteName, url } = Astro.props;
const { nav } = await fetchGlobalData(Astro);
const isHomePage = url === '/';
---

<section class="main-title">
  <h1>
    {isHomePage ? (
      siteName
    ) : (
      <a href="/" tabindex="0">{siteName}</a>
    )}
  </h1>
  <Menu nav={nav} />
</section>