<h2 class="page-title">Search</h2>
<p>
  You can find <a href="/posts">posts</a>, <a href="/links">links</a>, <a
    href="/music/#artists">artists</a
  >, genres, <a href="/watching#movies">movies</a>, <a href="/watching#tv"
    >shows</a
  > and <a href="/books">books</a> via the field below (though it only surfaces
  movies and shows I've watched and books I've written something about).
</p>
<noscript>
  <p>
    <strong class="highlight-text"
      >If you're seeing this it means that you've (quite likely) disabled
      JavaScript (that's a totally valid choice!).</strong
    > You can search for anything on my site using the form below, but your query
    will be routed through <a href="https://duckduckgo.com">DuckDuckGo</a>.
  </p>
  <p>
    <strong class="highlight-text">Type something in and hit enter.</strong>
  </p>
</noscript>
