---
import { IconCoffee } from "@tabler/icons-react";
---
<div class="banner coffee">
  <p>
    <a
      class="coffee plausible-event-name=Buy+Me+a+Coffee+post+footer"
      href="https://buymeacoffee.com/cory"
    >
      <IconCoffee size={24} /> If you found this post helpful, you can buy me a coffee.
    </a>
  </p>
</div>
