---
import { IconCoffee } from "@tabler/icons-preact";
---
<div class="banner coffee">
  <p>
    <a
      class="coffee"
      href="https://buymeacoffee.com/cory"
    >
      <IconCoffee size={24} /> If you found this post helpful, you can buy me a coffee.
    </a>
  </p>
</div>
